// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
 body{
   font-size: 22px;
   font-weight: normal;
 }

 nav.navbar.navbar-expand-lg{
   margin-bottom: 0px;
 }

.index-title {
  margin-left: 0;
  font-size: 20px;
}

.index-footer {
  text-align: center;
  border: 1px solid red;
}
